body{
  font-family:arial;
  font-weight:bold;
  background-color:#6d6d6d;
  color: rgba(230, 230, 230, 1);
  max-width:300px;
  margin:0 auto;
}
div#title {
  margin-top:60px;
  font-size:23px;
  color:#ffffff;
  text-shadow: 1px 1px #aaaaaa, 0px 0px #444444;
  width:300px;
  text-align:center;
}
div#diagram {
  margin-top:30px;
  font-size:23px;
  color:#ffffff;
  text-shadow: 1px 1px #aaaaaa, 0px 0px #444444;
  width:300px;
  height:150px;
  border:0px solid #000000;
  background-color:#7d7d7d;
  border-radius:5px;
}
img#mic {
  position:relative;
  width:40px; height:40px;
  left:5px; top:50px;
} 
img#speaker {
  position:relative;
  width:40px; height:40px;
  left:205px; top:50px;
} 
img.colorinvert {
  -webkit-filter: invert(90%);
  -moz-filter: invert(90%);
  filter: invert(90%);
}
div#centerline { 
  position:relative;
  width:200px;
  border:2px solid #cfcfcf;
  left:45px; top:23px;
}
div#shifter {
  left:80px; top:5px;
}
div.node { 
  position:relative;
  width:28px; height:28px;
  border:3px solid #cfcfcf;
  border-radius:50%;
  text-align:center;
  vertical-align: middle;
  background-color:#7d7d7d;
}
div#delayloop {
  position:relative;
  width:60px; height:20px;
  border-color:#cfcfcf;
  border:4px solid #cfcfcf;
  border-top:0px solid #cfcfcf;
  border-radius:3px;
  top:-13px; left:150px;
}
div#delay {
  left:15px; top:5px;
}
div#delaymain {
  left:170px; top:-53px;
}
div#arrow {
  position:relative;
  top:-45px; left:-10px;
  width: 0; height: 0;
  border-top: 10px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 10px solid #cfcfcf;
}
div#control-panel {
  margin-top:30px;
  position:relative;
  width:300px; height:500px;
  text-align:center;
}
div#div-button-ps {
  position:absolute;
  top:20px; left:20px;
}
div#div-button-ps-text {
  position:absolute;
  top:4px; left:24px;
}
div#div-button-dl {
  position:absolute;
  top:20px; left:185px;
}
div#div-button-dl-text {
  position:absolute;
  top:4px; left:205px;
}
div#div-button-pitch {
  position:absolute;
  top:154px; left:34px;
}
div#div-button-pitch-text {
  font-size:12px;
  position:absolute;
  top:200px; left:46px;
}
div#div-button-direction {
  position:absolute;
  top:154px; left:200px;
}
div#div-button-dltype-text {
  font-size:12px;
  position:absolute;
  top:200px; left:213px;
}
div#div-button-dltime {
  position:absolute;
  top:218px; left:193px;
}
div#div-button-dltime-text {
  font-size:12px;
  position:absolute;
  top:250px; left:197px;
}
div#div-button-dlgain {
  position:absolute;
  top:218px; left:232px;
}
div#div-button-dlgain-text {
  font-size:12px;
  position:absolute;
  top:250px; left:232px;
}
.button-size {
  width:85px; height:128px;
}
