body {
  margin:0 auto;
  max-width:640px;
  background:#000000;
}
div#container { 
  text-align: center;
  margin-top:80px;
  width:640px;
  border:0px;
}
#bluetooth {
 float:right;
 margin:10px 0px 0px 0px;
 size:20px;
 color:white;
}
#blebutton {  
  text-align: center;
}
#find {
  margin-top:50px;
  width: 400px;
}
#sliderarea { 
  padding:20px;
  text-align: center;
}
#slider { 
  width:500px
}
#dispslider {
 float:left;
 margin:10px 0px 0px 0px;
 size:20px;
 color:white;
}
.hidden {
  visibility:hidden;
}
